--extra-index-url https://download.pytorch.org/whl/cpu
opencv-python-headless
numpy
easyocr
torch
torchvision
transformers
pyspellchecker
Pillow
datasets
accelerate
evaluate
jiwer
fastapi
uvicorn
python-multipart
